@{
    ViewBag.Title = "首页";
}

<div class="jumbotron" style="min-height:400px;">
    <img src="~/Images/subscription.png" style="width: 12%;height: 12%;" />
    <a href="/Home/Customer">客户认购</a>
    <br />
    <img src="~/Images/subscription.png" style="width: 12%;height: 12%;" />
    <a href="/Home/Salesman">业务员认购</a>
</div>
