
@{
    ViewBag.Title = "认购成功";
}
@section styles{
    <style>
        h4 {
            padding-left: 30px;
            padding-right: 30px;
            line-height: 27px;
        }
    </style>
}
<br /><br />
<div class="row">
    <div class="col-md-12">
        <h4>恭喜张三先生您已成功认购本次旅游方案。您认购详情为：</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>
            旅游目的地：吉隆坡仙本那<br />
            您以认购API90000元达成认购旅游方案
        </h4>
    </div>
</div>
<div class="row">
    <br /><br /><br /><br />
    <div class="col-md-12">
        <h4>从来没有一种坚持 会被辜负</h4>
    </div>
    <br /><br /><br /><br />
</div>
<div class="row" style="text-align: center;">
    <div class="col-md-6" style="display:inline-block;">
        <button id="saveImg" class="btn btn-default" type="button">保存图片</button>
    </div>
    <div class="col-md-6" style="display:inline-block;">
        <button id="forwardImg" class="btn btn-default" type="button">一键转发</button>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/nativeShare.js"></script>
    <script>
        $(function () {
            $('#saveImg').click(function () {
                alert("保存成功");
            });
            $('#forwardImg').click(function () {
                callShare('default');
            });
        });
        var nativeShare = new NativeShare()
        var shareData = {
            title: '分享认购结果',
            desc: '分享认购结果',
            link: 'http://106.12.176.252:8083',
            image: '~/Images/subscription.png',
            success: function () {
                alert('转发成功')
            },
            fail: function () {
                alert('转发失败')
            }
        }
        nativeShare.setShareData(shareData);
        function callShare(command) {
            try {
                nativeShare.call(command)
            } catch (err) {
                alert(err.message)
            }
        }
        $(function () {
            var browser = {
                versions: function () {
                    var u = navigator.userAgent, app = navigator.appVersion;
                    return {
                        trident: u.indexOf('Trident') > -1, //IE内核
                        presto: u.indexOf('Presto') > -1, //opera内核
                        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1,//火狐内核
                        mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                        android: u.indexOf('Android') > -1 || u.indexOf('Adr') > -1, //android终端
                        iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                        iPad: u.indexOf('iPad') > -1, //是否iPad
                        webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                        weixin: u.indexOf('MicroMessenger') > -1, //是否微信 （2015-01-22新增）
                        qq: u.match(/\sQQ/i) == " qq" //是否QQ
                    };
                }(),
                language: (navigator.browserLanguage || navigator.language).toLowerCase()
            }
            //判断是否IE内核
            // if (browser.versions.trident) { alert("is IE"); }
            //判断是否webKit内核
            //if (browser.versions.webKit) { alert("is webKit"); }
            //判断是否移动端
            if (browser.versions.mobile || browser.versions.android || browser.versions.ios) { alert("移动端"); }
            //检测浏览器语言

            currentLang = navigator.language;   //判断除IE外其他浏览器使用语言
            if (!currentLang) {//判断IE浏览器使用语言
                currentLang = navigator.browserLanguage;
            }
            alert(currentLang);
        });
    </script>
}
